DB_HOST=localhost
DB_PORT=5432
DB_USER=alchemist
DB_PASS=equivalent_exchange
DB_NAME=amestris_dept
REDIS_ADDR=localhost:6379
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
JWT_SECRET=clavedealquimistas
SERVER_PORT=8080
SERVER_ENV=development